.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(45deg, #2CB8D7, #2CB8D7);
  padding: 15px 20px;
  color: white;
  position:static;
}
body{
  background-color: #4C4E4F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


.Logo h3{
  background:#C9880F;
  width:168px;
  margin-left:0px;
  height: 10vh;
  text-align: center;
  font-size: 25px;
  padding: 20px;
  font-family: Fantasy;
  display: flex;
  flex-direction: column;
}
.Logo{
  background:#2CB8D7;
  height:10vh;
  display:flex;

 
}
.Logo span{
  display: flex;
  padding: 20px 0px 0px 1150px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
  position: relative;
}

.nav-links a,
.nav-links span {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  display: block;
  transition: 0.3s;
}

.nav-links a:hover,
.nav-links span:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  min-width: 150px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.dropdown-menu li {
  display: block;
}

.dropdown-menu a {
  color: #333;
  padding: 10px 15px;
}

.dropdown-menu a:hover {
  background: #008CBA;
  color: white;
}


.dropdown:hover .dropdown-menu {
  display: block;
}

.not-found-container {
  text-align: center;
}

.not-found-image {
  width: 300px;
  height: auto;
  margin-top: 20px; 
}
.features-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px 20px;
  flex-wrap: wrap;
  position: absolute;
  top: 60%;
  left: 55%;
  transform: translate(-50%, -50%);
}